<template>
    <div class="sidenav text-center" id="app">
        <div class="">
          <img src="@/assets/images/LNU_Logo.png" height="180" class="mt-5 mb-5">
        </div>
        <router-link to="/StudentInfo" :class="getRoute == '/StudentInfo' ? 'active': ''" > 
          <a href="" class="">
          <div class="element-container">
              <div class="element">
                  <p class="ml-6 option">Student Information</p>
              </div>
          </div>
          </a>
        </router-link>
        <router-link to="/Attendance" :class="getRoute == '/Attendance' ? 'active': ''" >
          <a href="" class="">
          <div class="element-container">
              <div class="element">
                  <p class="ml-6 option">Attendance</p>
              </div>
          </div>
          </a>
        </router-link>

        <router-link to="/DailyReport" :class="getRoute == '/DailyReport' ? 'active': ''" >
          <a href="" class="">
          <div class="element-container">
              <div class="element">
                  <p class="ml-6 option">Daily Report</p>
              </div>
          </div>
          </a>
        </router-link>

        
          <a type="button"  @click="$bvModal.show('logoutModal')">
          <div class="element-container">
              <div class="element ">
                  <p class="ml-6 option" >Logout</p>
              </div>
          </div>
          </a>
        

        <!-- logoutModal -->
        <b-modal id="logoutModal" title="Logout">
            <template>
                <p>Are you sure you want to logout?</p>
            </template>
            <template #modal-footer="{ cancel}">
                <b-button size="sm" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                <b-button size="sm" variant="primary">
                    <router-link to="/"> Yes</router-link>
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
export default {

  data() {
    return {
      data: "",
    };
  },
  mounted() {
    
  },
  computed: {
    getRoute: function(){
      return this.$route.path
    }
  }
};
</script>
<style>
.sidenav {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
  overflow-x: hidden;
  transition: all 400ms;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  color: #000;
  display: block;
  font-family: 'Calibri', sans-serif;
  transition: all 250ms;
}

.sidenav a:hover {
  color: rgb(75, 75, 75);
}

.element-container {
  width: 100%;
  height: 66px;
  position: relative;
  
}

.active {
  position: relative;
  background: rgb(117, 212, 218);
  transition: all 500ms;
  box-shadow: 0px 2.5px 5px rgb(122, 122, 122);
}

.active-management {
  position: relative;
  height: 70px;
  background: rgba(196, 196, 196, 0.7);
}

</style>