<template>
    <div id="app">
        <div class="container-fluid p-0 m-0" style="height: 100vh">
            <div class="row h-100 align-items-center p-0 m-0">
                <div class="row justify-content-center d-flex form-container">
                    <div class="col text-center">
                        <h1>OJT MONITORING SYSTEM</h1>
                        <br>
                        <div class="form-group">
                            <router-link to="/Login" style="text-decoration: none;"><h4 class="text-hover">I am a Student</h4></router-link>
                        </div>
                        <div class="form-group">
                            <router-link to="/LoginTeacher" style="text-decoration: none;"><h4 class="text-hover">I am a Teacher</h4></router-link>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</template>
<style>
.container-fluid{
    background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
    overflow: hidden;
}

.text-hover{
    color:white;
}
.text-hover:hover{
    text-shadow: 0px 5px 3px rgba(66, 66, 66, 0.925);
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>