<template>
  <div id="app">
    <div class="container-fluid p-0 m-0" style="height: 100vh">
        <div class="row h-100 align-items-center p-0 m-0">
            <div class="row justify-content-center d-flex form-container">
                <div class="form-card p-0 m-0" style="width: 25rem; ">
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 h-100 p-5 m-0">
                                    <h1 class="text-center mb-4 text-white">Student Login</h1>
                                    <div class="">
                                      <div class="form-group">
                                        <label class="" for="email">Email or Username</label>
                                        <input class="form-control " v-model="data.email" type="text"  id="email" placeholder="Email/Username" >
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="password">Password</label>
                                        <input type="password" v-model="data.password" class="form-control " id="password"  placeholder="Password" >
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="password">Student ID</label>
                                        <input type="password" class="form-control " id="password"  placeholder="Student ID Number" >
                                    </div>
                                    <div class="form-group mt-4">
                                        <router-link to="/StudentInfo"><button class="btn-primary form-control">Login</button></router-link>
                                    </div>
                                    <p>Don't Have an account? <router-link to="/Register"><a href="" class="font-italic">Register </a></router-link></p>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    // this.loading = true;
    const res = await this.callApi(
      "post",
      `api/auth/me?token=${this.$store.state.token}`
    );
    if (res.status == 200) {
      this.$router.push("/Login");
    //   this.loading = false;
    } else {
      this.$store.commit("clearToken");
      localStorage.removeItem("username");
      localStorage.removeItem("student_id");
    //   this.loading = false;
    }
  },
  components: {
    // Loading,
  },
  data() {
    return {
      data: {
        email: "",
        password: "",
        student_number: "",
      },
    //   loading: false,
    };
  },
  methods: {
    async login() {
      if (this.data.email.trim() == "")
        return this.error("Email Address is required");
      if (this.data.password.trim() == "")
        return this.error("Password is required");

    //   this.loading = true;
      const res = await this.callApi("POST", "api/auth/login", this.data);

      if (res.status == 200 || res.status == 201) {
        const user = await this.callApi("post", "api/auth/me", {
          token: res.data.access_token,
        });
        if (user.status == 200) {
          this.success("Welcome back, " + user.data.first_name);
          localStorage.setItem("userid", user.data.id);
          localStorage.setItem("username", user.data.first_name);
          this.$store.commit("setToken", res.data.access_token);
          this.$router.push("/StudentInfo");
        }
      } else {
        this.data.email = "";
        this.data.password = "";
        this.data.student_number = "";
        // this.loading = false;
        return this.error(res["data"]["error"]);
      }

    //   this.loading = false;
    },
  },
};
</script>

<style>
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-card{
    background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
}

.container-fluid{
    background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
    overflow: hidden;
}
</style>
