<template>
  <div id="app">
    <div class="container-fluid p-0 m-0" style="height: 100vh">
        <div class="row h-100 align-items-center p-0 m-0">
            <div class="row justify-content-center d-flex form-container">
                <div class="form-card p-0 m-0" style="width: 25rem; ">
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 h-100 p-5 m-0">
                                    <h1 class="text-center mt-3 text-white">Create Account</h1>
                                    <div class="">
                                        <div class="form-group">
                                        <label class="" for="email">Username</label>
                                        <input class="form-control " type="text"  id="email" placeholder="username" >
                                    </div>
                                      <div class="form-group">
                                        <label class="" for="email">Email</label>
                                        <input class="form-control " type="text"  id="email" placeholder="Email" >
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="password">Password</label>
                                        <input type="password" class="form-control " id="password"  placeholder="Password" >
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="password">Teacher's ID</label>
                                        <input type="password" class="form-control " id="password"  placeholder="Teacher's ID Number" >
                                    </div>
                                    <div class="form-group mt-4">
                                        <router-link to="/Login"><button class="btn-primary form-control">Register</button></router-link>
                                    </div>
                                    <p>Already have an Account? <router-link to="/LoginTeacher"><a href="" class="font-italic">Login </a></router-link></p>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

</script>

<style>
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-card{
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
}

.container-fluid{
    background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
    overflow: hidden;
}
</style>
